body {
        font-family: bauhaus 93;
        font-size: 14px;
        text-align: center;
        border: 4px solid black;
        background:url('../img/dark-abstract-wallpaper2.jpg');
    }
    
html, body, #wrapper, h1 {
	margin: 0.25em auto;
	padding: 0;
}
.padd{
	padding:10px;
}
.agg{
	font-size:18px;
	padding:2px;
	font-family: bauhaus 93;
}
.agg a {
	color: white;
}

.agg a:hover {
	color:#44BBEC;
}
.logout {
	padding:2px;
	margin-left:600px
}

.logout a {
	color: white;
}

.logout a:hover {
	color: #2DB5E6;
}
.ImageHeader{
	width:870px;
	height:400px; 
	margin-left:-50px;
	margin-top:-30px;
	border-radius:20px;
	border: 4px solid white;
}
.title{
	width:100%;
	font-size:78px;
	color: white;
	left: 50%;
	top:25%;
	padding:20px;
}
.newMario{
	width:100%;
	height:100%;
}
.carrito{
	max-height:100px;
	max-width:100px;
	padding:20px;
	background: transparent;
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}
.name{
	padding:5px;
	color:white;
	margin-left:600px;
	font-size:16px;
}
.permission{
	margin-left:500px;
	font-size:16px;
	color:red;
}
th, td {
	font-size: 10px;
}

img { border: 0; }

#wrapper {
	margin: auto;
	text-align: left;
	width: 748px;
	position: relative;
}

h1, h2, h3 {
	font-size: 10px;
}


h1 {
	margin: 0.25em auto;
	padding: 0;
}

h2 {
	margin: 0 0 5px 0;
	padding: 0;
}

h3 {
	padding: 4px 0 0 0;
}

.block {
	display: block;
}

.clear {
	clear: both;
	height: 2px;
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 3px;
	font-size: 1px;
}

.left {
	float: left;
	margin: 1px 8px 0px 0px;
}

.softright {
	text-align: right;
}

.readmore {
	text-align: right;
}

/* ***** */

#inner {
	/*border-left: 2px solid #fff;
	border-right: 2px solid #fff;*/
	background: transparent;
	color: white;
	margin-bottom: 10px;
}

#header {
	background: url(assets/img/header_bg.gif) repeat-x;
	padding-top: 9px;
	position: relative;
}

#header img {
	display: block;
}

#nav {
	position: absolute;
	left: 550px;
	top: 40px;
	width: 200px;
}

#nav, #nav a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#nav a:hover {
	text-decoration: underline;
}
.cover{
	max-width:120px;
	max-height:150px;
	margin:0.25em auto;
	margin-left:6em;
}
#browse {
	float: left;
	width: 195px;
	margin: 0;
	padding: 0;
	background: transparent;
}

#browse dt {
	background: #c80000 url(assets/img/dt_bg.gif) bottom repeat-x;
	color: #fff;
	margin: 2px 2px 1px 2px;
	padding: 6px 0;
	text-align: center;
	font-weight: bold;
}

#browse dd {
	background: #161614;
	border-bottom: 1px solid #659db4;
	padding: 0;
	margin: 0 2px;
}

#browse dd a {
	color: white;
	font-weight: bold;
	display: block;
	padding: 3px 22px;
}

* html #browse dd {
	padding: 3px 22px;
}

* html #browse dd a {
	display: inline;
	di\splay: block;
}

#browse dd a:hover {
	background: #7BA9B9;
}

#browse .first {
	padding-top: 10px;
}

#browse .last {
	padding-bottom: 8px;
	border-bottom: 1px solid white;
}

#browse .searchform {
	padding: 10px;
}

#browse .text, #browse select {
	width: 160px;
}

#browse form {
	margin: 0;
	padding: 0;
}

#browse form div {
	padding-bottom: 8px;
	width: 165px; 
}


#body {
	float: right;
	width: 543px;
	margin: 2px 1px 0 0;
	
	border: 1px solid #e5e5e5;
	position: relative;
}

#body p {
	margin: 1em 0;
	padding: 0;
}

#body .leftbox,
#body .rightbox {
	margin-top: 5px;
	margin-left:120px;
	color: white;
}

#body .leftbox {
	width: 250px;
}

#body .rightbox {
	float: right;
	width: 252px;
	margin-right: 18px;
	border-left: 1px solid #e5e5e5;
}

* html #body .rightbox {
	margin-right: 10px;
	color:white;
}

#body .br {
	border-bottom: 1px solid #e5e5e5;
}

#body .readmore {
	margin-top: -15px;
	margin-bottom: 0;
	padding-bottom: 0;
}

#body .readmore a {
	color: #ad1c1c;
}

#body .readmore a:hover {
	color: #f73838;
}

#body .review {
	margin-top: 15px;
	margin-bottom: 0;
	padding-bottom: 0;
}

#body .review a {
	color: #ad1c1c;
}

#body .review a:hover {
	color: #f73838;
}

#body h3 {
	text-align: center;
	font-family: "Keble Condensed", "KebleCondensed", "arial narrow", helvetica, arial, sans-serif;
	font-size: 24px;
	font-weight: normal;
	color: white;
	padding: 0 0 0 18px;
	margin: 1px 0 3px 0;
}

#footer {
	background: #c80000 url(assets/img/footer_bg.gif) repeat-x;
	padding: 8px 8px 5px 8px;
	position: relative;
	text-align: center;
	border-bottom: 2px solid white;
}
	
#footer, #footer a {
	font-weight: bold;
	color: white;
	text-decoration: none;
}

#footnav {
	position: absolute;
	text-align: right;
	right: 10px;
	top: 0px;
	padding: 8px 0 5px 0;
}